<section class='container'> 
  <section class='row col-12'> 
    <div class='col-12'> 
      <h2 class='text-white'>
        Explanation of Benefits 
        <% if @start_date.present? && @end_date.present? %>
          <%= @start_date %> - <%= @end_date %> 
        <% end %>
      </h2>
      <%= render 'partials/query' %>
      <div class='btn-group float-right mt-2' role='group'> 
      </div> 
    </div> 
    <table class='table table-striped table-dark status'> 
      <thead>
        <tr> 
          <th scope='col'>Billing Period</th>
          <th scope='col'>Date Created</th> 
          <th scope='col'>Type</th> 
          <th scope='col'>Patient Name</th>
          <th scope='col'>Provider Name</th> 
        </tr> 
      </thead>
      <% @eobs.each do |eob| %> 
        <tr> 
          <th scope="row">
           <%= link_to sanitize(eob.billingstartdate) + "-" + sanitize(eob.billingenddate), eob_path(eob.id) %>
          </th>
          <td><%= eob.created %></td>    
          <td> <%= eob.type %></td>
          <td>
            <% @patient.names.each do |name| %>
              <%= display_human_name(name) %><br />
            <% end %>
          </td>
          <td><%= sanitize(eob.provider) %></td> 
        </tr> 
      <% end %> 
    </table> 
    <div class='col-12'> 
      <div class='btn-group float-right mt-2' role='group'> 
      </div> 
    </div> 
  </section>
</section>
