<h1>Eob#index
</h1>
<section class='container'> 
<section class='row col-12'> 
<div class='col-12'> 
<h3 class='float-left text-white'>Explanation of Benefits - Index</h3> 
<div class='btn-group float-right mt-2' role='group'> 
</div> 
</div> <table class='table table-dark'> 
<tr> 
<th scope='col'>Ref<th>
<th scope='col'>Date</th> 
<th scope='col'>Claim</th> 
<th scope='col'>Patient</th>
<th scope='col'>Provider</th> 
<th scope='col'>Facility</th> 
</tr> 
<% @eobs.each do |eob| %> 
<tr> 
<td> <%= link_to sanitize(eob.id), eob_path(eob.id)%>
<td> <%= eob.startdate%>-<%=eob.enddate%> </td> 
<td> <%= eob.claim_reference%> </td> 
<td> <%= eob.claim.patient.display%> </td>
<td> <%= eob.careteam.values.join(",")%> </td> 
<td> <%= eob.facility%> </td> 
 </tr> 
 <% end %> 
 </table> 
 <div class='col-12'> 
 <div class='btn-group float-right mt-2' role='group'> 
 </div> </div> 
 </section>
 </section>
