<section class='container'>
  <section class='row'>
      <div class='col-12'>
        <table class='table table-dark'>
        <tr>
        <td><h3>Explanation of Benefit:</td>
        <td><%= @eob.id.last(6) %></td>        
        </tr>
        <tr>
        <td><h4>Patient: </td>
        <td><%= @eob.claimpatient%> </td>        
        </tr>
                <tr>
        <td> <h4>Dates: </td>
        <td><%= @eob.startdate%>-<%=@eob.enddate%> </td>        
        </tr>
                        <tr>
        <td> <h4>Facility: </td>
        <td><%= @eob.facility%> </td>        
        </tr>
                               <tr>
        <td> <h4>Provider: </td>
        <td><%= @eob.provider%> </td>        
        </tr>
 
                <tr>
        <td><h4>Claim:  </td>
        <td><%= link_to sanitize(@eob.claim_reference), claim_show_path(@eob.claim_reference)%>  </td>        
        </tr>
                                      <tr>
        <td> <h4>Total: </td>
        <td><%= @eob.total.join(" ")%> </td>        
        </tr>
                               <tr>
        <td> <h4>Payment: </td>
        <td><%= @eob.payment%> </td>        
        </tr>
 
                <tr>
        <td><h4>Careteam:  </td>
        <td> <%= @eob.careteam.values.map{ |c| c[:name] + " (" + c[:role] + ")"}.join(",")%></td>        
        </tr>
        </table class='table table-dark'>
        </div>
         <!–– <div class='col-5' id='map' ––>
         <!–– </div ––>
         <div class='col-12'>
          <table class='table table-dark'>
            <tr> 
              <th scope='col'>Date</th> 
              <th scope='col'>Category<th>
              <th scope='col'>Location</th> 
              <th scope='col'>Product or Service</th>
              <th scope='col'>Encounter</th> 

            </tr> 
            <% @eob.items.each do |item| %> 
            <tr>
             <td><%= item[:startTime]%></td>
             <td><%= item[:category].join(",")%></td>
            <td><%= item[:location].join(",")%></td>
            <td><%= item[:productOrService]%></td>
            <td><%= item[:encounter].map{|e| e.last(6)}.join(",")%></td>
            </tr>
<% if item[:adjudication].length > 0%>
<tr>
<td>
</td>
<td>Adjudication</td>
<td>
<table class='table table-dark'>
<tr>
                    <% item[:adjudication].each do |adj|%>
                        <td> <%= adj[1] %> </td>
                     <%end%>
</tr>
<tr>
                    <% item[:adjudication].each do |adj|%>
                        <td> <%= adj[0]%> </td>
                     <%end%>
</tr>

</table>
</td>
<td>
</td>
</tr>
<%end %>
         <% end %>
         </table>
 
      </div>
  </section>
</section>


 