

<section class='container'>
<h2 class="text-light welcome-text">Connect to a FHIR server</h2>
	<% if @client %>
		<p class="text-success m-auto client-connected" style='text-align: center'>
			Connected to <%= cookies[:server_url] -%>
		</p>
		<p class="text-success m-auto client-connected" style='text-align: center'>
		Patient <%= cookies[:patient_id] -%>
	</p>
	<p class="text-success m-auto client-connected" style='text-align: center'>
	    Key  <%= cookies[:patient_key] -%>
</p>
	<%else%>
		<p class="text-danger m-auto" style='text-align: center'>No Connection Established</p>
	<% end %>

	<section class='row col-12'>
	<div class='row'>
	<%= form_tag home_path, method: 'get', class: 'form-inline welcome-form', id: 'server-form' do %>
		<div class='col'></div>
		<div class='form-group col-md-7 last'>
		<label class="float-left"> FHIR Server (e.g., http://localhost:8080/cpcds-server/fhir)</label>
			<%= text_field_tag :server_url, cookies[:server_url], class: 'form-control',
						placeholder: 'http://hapi.fhir.org/baseR4' %>
			<label class="float-left"> Patient ID (e.g., 1)</label>
			<%= text_field_tag :patient_id, cookies[:patient_id], class: 'form-control',
						placeholder: 'Patient/1' %>
			<label class="float-left"> Patient Key (e.g., dfw98h38r)</label>
			<%= text_field_tag :patient_key, cookies[:patient_key], class: 'form-control',
						placeholder: 'dfw98h38r' %>
		</div>
		<%= button_tag 'Connect', class: 'btn btn-primary col-md-2', id: 'server-url' %>
		<div class='col'></div>
	<% end %>
</div>
	</section>
</section>
