<section >
  <div class="mask d-flex align-items-center vh-50">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-10 col-md-10 col-lg-12 col-xl-12 h-100">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5 text-dark">
              <%= render "form_header" %>
              <%= form_tag launch_path, method: "get", id: "server-form" do %>

                <div class="form-outline mb-2">
                  
                  <%= text_field_tag :iss_url, cookies[:iss_url], class: "form-control form-control-lg",
                                                                  placeholder: "https://cpcds-server.lantanagroup.com/fhir",
                                                                  value: (cookies[:iss_url] or 
                                                                    (request.host == 'localhost' ? 'http://localhost:8080/fhir' : 'https://cpcds-server.lantanagroup.com/fhir')
                                                                  ),
                                                                  required: true %>
                  <label class="form-label">Patient Access FHIR Server <span class="text-danger">**</span></label>
                </div>
                <div class="form-outline mb-2">
                  <%= text_field_tag :client_id, cookies[:client_id], class: "form-control form-control-lg",
                                                                      placeholder: "Client ID", required: true %>
                  <label class="form-label">Client ID <span class="text-danger">**</span></label>
                </div>
                <div class="form-outline mb-2">
                  <%= text_field_tag :client_secret, cookies[:client_secret], class: "form-control form-control-lg",
                                                                              placeholder: "Client secret", required: true %>
                  <label class="form-label">Client Secret <span class="text-danger">**</span></label>
                </div>
                <div class="form-outline mb-2">
                  <%= text_field_tag :scope, cookies[:scope], class: "form-control form-control-lg",
                                                                              placeholder: "Supported scopes" %>
                  <label class="form-label">Scopes</label>
                </div>
                <div class="d-flex justify-content-center">
                  <%= button_tag "Connect", class: "btn btn-primary btn-block btn-md gradient-custom-4 text-body", id: "server-url" %>
                </div>

              <% end %>
              <div class="d-flex justify-content-center my-4">
                <p class='text-info text-center guidance m-2'>
                  FHIR Server, Client ID, and Client Secret fields are required.<br/>
                  For unauthenticated severs, please provide the FHIR server url and patient ID in the client ID & Secret fields.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


