<!DOCTYPE html>
<html>
  <%= render 'partials/head' %>
  <body>
    <div class='container'>
      <%= render 'partials/header' %>
      <div id='content'>
        <main role='main'>
          <%= render 'partials/messages' %>
          <%= yield %>
        </main>
      </div>
    </div>
    <%= render 'partials/footer' %>
    <%= yield :scripts %>
  </body>
</html>
